@charset "UTF-8";
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

/* Стили для обнуления верхних отступов у элементов */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

/* Класс для обнуления базовых свойств у списков (ul) */
ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

/* Класс для обнуления базовых свойств у ссылок */
a {
  text-decoration: none;
  color: inherit;
}

/* Свойства для корректного отображения картинок */
img {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}

/* Свойства для обнуления курсива у address */
address {
  font-style: normal;
}

:root {
  --main-text-color: #212121;
  --black-color: #000000;
  --secondary-text-color: #757575;
  --white-text-color: #FFFFFF;
  --main-site-color: #FFFFFF;
  --secondary-site-color: #2F303A;
  --site-accent-color: #2196F3;
  --button-color: #F5F4FA;
  --button-border-color: #E6E6E6;
  --container-color: #F5F4FA;
  --header-border-bottom: #ECECEC;
  --card-border--color: #EEEEEE;
  --main-icon-color: #AFB1B8;
  --secondary-icon-color: #44454E;
  --backdrop-overlay-color: rgba(0, 0, 0, 0.2);
}

/* Fonts */
@font-face {
  font-family: "Raleway";
  src: local("Raleway") url("Raleway-Bold.woff2") format("woff2"), url("Raleway-Bold.woff") format("woff"), url("Raleway-Bold.ttf") format("truetype"), url("Raleway-Bold.svg#Raleway-Bold") format("svg");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url("Roboto-Bold.woff2") format("woff2"), url("Roboto-Bold.woff") format("woff"), url("Roboto-Bold.ttf") format("truetype"), url("Roboto-Bold.svg#Roboto-Bold") format("svg");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url("Roboto-Black.woff2") format("woff2"), url("Roboto-Black.woff") format("woff"), url("Roboto-Black.ttf") format("truetype"), url("Roboto-Black.svg#Roboto-Black") format("svg");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url("Roboto-Regular.woff2") format("woff2"), url("Roboto-Regular.woff") format("woff"), url("Roboto-Regular.ttf") format("truetype"), url("Roboto-Regular.svg#Roboto-Regular") format("svg");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url("Roboto-Medium.woff2") format("woff2"), url("Roboto-Medium.woff") format("woff"), url("Roboto-Medium.ttf") format("truetype"), url("Roboto-Medium.svg#Roboto-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
/* Visually hiden*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Social networks icons list*/
.social-networks {
  display: flex;
  justify-content: center;
}

.social-network {
  display: flex;
  height: 44px;
  width: 44px;
}
.social-network:not(:last-child) {
  margin-right: 10px;
}

.social-network__link, .social-network__link--inverted {
  display: inline-flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: transparent;
  color: var(--main-icon-color);
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-network__link:hover, .social-network__link--inverted:hover, .social-network__link:focus, .social-network__link--inverted:focus {
  color: var(--white-text-color);
  background-color: var(--site-accent-color);
}

.social-network__icon {
  fill: currentColor;
}

/* Buttons */
.button, .subscription-form__button, .filter__button, .form-field__button {
  padding: 10px 32px;
  border-radius: 4px;
  min-width: 200px;
  border: none;
  cursor: pointer;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--site-accent-color);
  color: var(--white-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* Page titles */
.hiden-title {
  display: none;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

/* Links animation */
a {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* Site cotainers */
.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/*Site sections */
.section, .team-members__section, .section--no-top-padding {
  padding-top: 94px;
  padding-bottom: 94px;
  margin-left: auto;
  margin-right: auto;
}

body {
  background-color: var(--main-site-color);
  color: var(--main-text-color);
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.02em;
}

/* Header */
.page-header {
  border-bottom: 1px solid var(--header-border-bottom);
}

.header__container {
  display: flex;
  align-items: center;
}

.logo-main, .footer__logo-main {
  color: var(--site-accent-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  padding-top: 24px;
  padding-bottom: 25px;
}

.logo__secondary, .footer__logo__secondary {
  color: var(--black-color);
}

/* Header site nav */
.page-header__nav {
  margin-left: 93px;
  height: 100%;
}

.nav {
  display: flex;
}

.nav__item {
  margin-right: 50px;
}
.nav__item:last-child {
  margin: 0;
}

.nav__link,
.nav__link--current {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--main-text-color);
}

.nav__link:hover, .nav__link--current:hover, .nav__link:focus, .nav__link--current:focus {
  color: var(--site-accent-color);
}

.nav__link--current {
  position: relative;
  color: var(--site-accent-color);
}
.nav__link--current::after {
  content: "";
  position: absolute;
  display: block;
  bottom: 0;
  height: 4px;
  width: 100%;
  border-radius: 2px;
  background-color: var(--site-accent-color);
}

.contacts-list {
  display: flex;
  height: 100%;
  margin-left: auto;
  flex-wrap: wrap;
  gap: 50px;
}

.contacts-list__item {
  min-width: 142px;
  height: 100%;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

.contacts-list__link {
  display: inline-flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--secondary-text-color);
}
.contacts-list__link:hover, .contacts-list__link:focus {
  color: var(--site-accent-color);
}

.contacts-list__icon {
  fill: currentColor;
  margin-right: 10px;
}

/* Hero */
.hero-section {
  padding-top: 200px;
  padding-bottom: 200px;
  margin-right: auto;
  margin-left: auto;
  background-color: var(--secondary-site-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-background.jpg);
  background-size: 1600px;
  background-repeat: no-repeat;
  background-position: center;
}

.hero-section__title {
  display: block;
  max-width: 696px;
  color: var(--white-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.35;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

.hero-section__button {
  display: block;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  height: 50px;
  min-width: 216px;
}
.hero-section__button:hover, .hero-section__button:focus {
  background-color: var(--button-color);
  color: var(--site-accent-color);
}

.backdrop, .backdrop--is-hidden {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--backdrop-overlay-color);
  transition-property: opacity, visibility, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop--is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition-property: opacity, visibility, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 581px;
  width: 528px;
  padding: 40px;
  background-color: var(--main-site-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-exit-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  height: 30px;
  width: 30px;
  padding: 0;
  background-color: var(--main-site-color);
  fill: currentColor;
  border: 2px solid var(--button-border-color);
  border-radius: 50%;
  cursor: pointer;
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-exit-button:hover, .modal-exit-button:focus {
  color: var(--site-accent-color);
}

.modal-exit-button__icon {
  fill: currentColor;
}

.callback-form {
  width: 100%;
}

.callback-form__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  color: var(--main-text-color);
}

.form-field {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.form-field:not(:nth-last-child(-n+3)) {
  margin-bottom: 10px;
}

.form-field-inner {
  position: relative;
  width: 100%;
}

.form-field__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translatey(-50%);
  fill: inherit;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.form-field__input:focus-within + .form-field__icon, .form-field__input--textarea:focus-within + .form-field__icon {
  fill: var(--site-accent-color);
}

.form-field__label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  text-align: left;
  margin-bottom: 4px;
  color: var(--secondary-text-color);
  cursor: pointer;
}

.form-field__input, .form-field__input--textarea {
  padding-left: 35px;
  height: 40px;
  width: 448px;
  color: var(--secondary-text-color);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition-property: border-color, outline;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.form-field__input:focus, .form-field__input--textarea:focus {
  outline: none;
  border-color: var(--site-accent-color);
}

.form-field__input--textarea {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  margin-bottom: 20px;
  resize: none;
}
.form-field__input--textarea::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.form-field__input--textarea:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.form-field__input--textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form-checkbox__input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.form-checkbox__icon {
  width: 16px;
  height: 15px;
  fill: var(--white-text-color);
  background-color: var(--white-text-color);
  border: 2px solid var(--main-text-color);
  border-radius: 2px;
  margin-right: 9px;
  transition-property: border-color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.form-checkbox__input:checked + .form-checkbox__icon {
  background-color: var(--site-accent-color);
  border-color: var(--site-accent-color);
}

.form-checkbox__label {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
  cursor: pointer;
  color: var(--secondary-text-color);
}

.form-checkbox__link {
  color: var(--site-accent-color);
  text-decoration: underline;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.form-submit-button {
  height: 50px;
  min-width: 200px;
  text-align: center;
}

.form-field__button {
  display: block;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  height: 50px;
}
.form-field__button:hover {
  background-color: var(--white-text-color);
  color: var(--site-accent-color);
}

/* Benefits section*/
.benefits-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: -15px;
}

.benefit {
  width: 270px;
  margin: 15px;
}

.benefit__icon-thumb {
  display: inline-flex;
  width: 100%;
  height: 120px;
  justify-content: center;
  align-items: center;
  background-color: var(--container-color);
  margin-bottom: 30px;
  border-radius: 4px;
}

.benefit__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.4;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.benefit__text {
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.71;
}

/* What we do (specializations section)*/
.section--no-top-padding {
  padding-top: 0;
}

.specializations {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: -15px;
}

.specialization {
  margin: 15px;
  min-width: 370px;
}

.specialization__item {
  position: relative;
}

.specialization__description {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--main-site-color);
}

/* Team members section */
.team-members__section {
  background-color: var(--button-color);
}

.team-members {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: -15px;
}

.team-member {
  margin: 15px;
  min-width: 270px;
  background-color: var(--main-site-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-member__description {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-member__name,
.team-member__position {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-member__name {
  font-weight: 500;
  color: var(--main-text-color);
  margin-bottom: 10px;
}

.team-member__position {
  margin-bottom: 16px;
}

/* Regular customers  */
.regular-customers {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: -15px;
}

.regular-customer {
  margin: 15px;
}

.regular-customer__link {
  display: inline-flex;
  width: 170px;
  height: 92px;
  color: var(--main-icon-color);
  justify-content: center;
  align-items: center;
  border: 1px solid var(--main-icon-color);
  border-radius: 4px;
  transition-property: border-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.regular-customer__link:hover, .regular-customer__link:focus {
  color: var(--site-accent-color);
  border-color: var(--site-accent-color);
}

.regular-customer__icon {
  fill: currentColor;
}

/* Portfolio filter (portfolio.html) */
.filter {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.filter__item {
  margin-top: 15px;
  margin-right: 8px;
}
.filter__item:last-child {
  margin-right: 0;
}

.filter__button {
  min-height: 38px;
  min-width: 73px;
  min-width: 73px;
  box-shadow: none;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;
  background-color: var(--button-color);
  color: var(--main-text-color);
  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.filter__button:hover, .filter__button:focus {
  background-color: var(--site-accent-color);
  color: var(--button-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Projects list */
.projects {
  display: flex;
  flex-wrap: wrap;
}

.project {
  margin-right: 30px;
  margin-bottom: 30px;
}
.project:nth-child(3n) {
  margin-right: 0;
}
.project:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.project-item__link {
  display: block;
  height: 100%;
  width: 100%;
  transition-property: box-shadow, transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.project-card__inner {
  position: relative;
  overflow: hidden;
}

.project-card__overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding-right: 24px;
  padding-left: 24px;
  padding-top: 63px;
  padding-bottom: 63px;
  background: rgba(33, 150, 243, 0.9);
  transform: translatey(100%);
  transition: transform 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.project-card__overlay .project-item__link:hover, .project-item__link:hover .project-card__overlay,
.project-card__overlay .project-item__link:focus, .project-item__link:focus .project-card__overlay {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  transform: translatex(0);
}

.project-card__discription {
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--white-text-color);
}

.project-card__name {
  padding: 20px 24px 20px 24px;
  border: 1px solid var(--card-border--color);
}

.project-card__title {
  color: var(--main-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.project-card__type {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

/* Footer */
.page-footer {
  background-color: var(--secondary-site-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

:root {
  --main-text-color: #212121;
  --black-color: #000000;
  --secondary-text-color: #757575;
  --white-text-color: #FFFFFF;
  --main-site-color: #FFFFFF;
  --secondary-site-color: #2F303A;
  --site-accent-color: #2196F3;
  --button-color: #F5F4FA;
  --button-border-color: #E6E6E6;
  --container-color: #F5F4FA;
  --header-border-bottom: #ECECEC;
  --card-border--color: #EEEEEE;
  --main-icon-color: #AFB1B8;
  --secondary-icon-color: #44454E;
  --backdrop-overlay-color: rgba(0, 0, 0, 0.2);
}

/* Footer subscription  form*/
.footer-subscription {
  margin-left: auto;
}

.footer-subscription-title {
  color: var(--white-text-color);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.subscription-form {
  display: flex;
  flex-wrap: wrap;
}

.subscription-form__input {
  display: flex;
  align-items: center;
  padding: 15px 16px;
  margin-right: 12px;
  height: 50px;
  width: 358px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: var(--white-text-color);
  background-color: var(--secondary-site-color);
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.subscription-form__input:focus {
  outline: none;
  border-color: var(--site-accent-color);
}

.subscription-form__button {
  min-width: 200px;
  height: 50px;
  padding: 10px 28px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.subscription-form__button:hover, .subscription-form__button:focus {
  background-color: var(--button-color);
  color: var(--site-accent-color);
}

.subscription-form__icon {
  margin-left: 10px;
  fill: currentColor;
}

/* Footer contacts */
.footer-contacts {
  margin-right: 70px;
}

.adress-list__item {
  min-width: 230px;
}
.adress-list__item:not(:last-child) {
  margin-bottom: 9px;
}

.adress-list__link, .adress-list__link--white {
  color: var(--white-text-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  width: auto;
  color: rgba(255, 255, 255, 0.6);
}
.adress-list__link:hover, .adress-list__link--white:hover, .adress-list__link:focus, .adress-list__link--white:focus {
  color: var(--site-accent-color);
}

.adress-list__link--white {
  color: var(--white-text-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* Footer logo */
.footer__logo-main {
  display: block;
  min-width: 145px;
  width: 145px;
  margin-bottom: 20px;
  padding-top: 0;
  padding-bottom: 0;
}

.footer__logo__secondary {
  color: var(--white-text-color);
}

/* Footer social-networks */
.footer-social-networks__title {
  color: var(--white-text-color);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.social-network__link--inverted {
  color: var(--white-text-color);
  background-color: var(--secondary-icon-color);
}

.social-network__link--inverted {
  fill: currentColor;
}
.social-network__link--inverted:hover, .social-network__link--inverted:focus {
  background-color: var(--site-accent-color);
}/*# sourceMappingURL=main.css.map */