.mobile-menu-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    position: fixed;

    padding: 48px 40px;
    
    background-color: var(--white-text-color); 
    
    top: 0;
    left: 0;
    
    width: 100vw;
    height: 100vh;

    z-index: 999;

    

    &.is-open {
        transform: translateX(0);
    }

    transform: translateX(100%);

    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
    @media screen and (min-width: 768px) {
        display: none;          
    }
}

.exit-button-mobile {
    position: absolute;

    top: 21px;
    right: 25.33px;

    border: none;

    fill: currentColor;
    background-color: var(--white-text-color);

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--site-accent-color);
    }

}

.header-nav-mobile {
    margin-bottom: 30px;
}

.header-nav-mobile__item {
    &:not(:last-child){
        margin-bottom: 35.71px;
    }
}

.header-nav-mobile__link,
.header-nav-mobile__link--current {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;

    color: var(--main-text-color);
}

.header-nav-mobile__link {

    &:hover,
    &:focus {
        color: var(--site-accent-color);
    }
}

.header-nav-mobile__link--current {
    @extend .header-nav-mobile__link;
    position: relative;

    color: var(--site-accent-color);
}

.header-contacts-mobile {
    margin-bottom: 64px;
}

.header-contacts-mobile__item {
    &:not(:last-child) {
        margin-bottom: 32px;
    }
}

.header-contacts-mobile__phone {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;

    color: var(--site-accent-color);

    @media screen and (min-width: 370px) {
        font-size: 34px;
        line-height: 1.18; 
    }       
}

.header-contacts-mobile__email {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    
    color: var(--secondary-text-color);
}

.header-socials-mobile {
    display: flex;
    flex-wrap: wrap;

    margin: -15px;
}

.header-socials-mobile__item {
    margin: 15px;
}

.header-socials-mobile__link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;

    color: var(--site-accent-color);

    &:hover,
    &:focus {
        color: var(--secondary-text-color);
    }

}