/* Header site nav */

.header-nav {
    display: none;   
    
    @media screen and (min-width: 768px) {
        display: block;
        
        margin-left: 87px;
    }
}

.nav {
    display: flex;
}

.nav__item {
    margin-right: 51px;

    &:last-child {
        margin: 0;
    }     
}

.nav__link,
.nav__link--current {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.15;

    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--main-text-color);
}

.nav__link {
    &:hover,
    &:focus {
        color: var(--site-accent-color);
    }
}

.nav__link--current {
    @extend .nav__link;
    position: relative;

    color: var(--site-accent-color);

    &::after {
        content: "";
        
        position: absolute;

        display: block;

        bottom: 0;
        
        width: 100%;
        height: 4px;

        border-radius: 2px;

        background-color: var(--site-accent-color);
    }
}