:root {
    --main-text-color: #212121;
    --black-color: #000000;
    --secondary-text-color: #757575;
    --white-text-color: #FFFFFF;
    --main-site-color: #FFFFFF;
    --secondary-site-color: #2F303A;
    --site-accent-color: #2196F3;
    --button-color: #F5F4FA;
    --button-border-color: #E6E6E6;
    --container-color: #F5F4FA;
    --header-border-bottom: #ECECEC;
    --card-border--color: #EEEEEE;
    --main-icon-color: #AFB1B8;
    --secondary-icon-color: #44454E;
    --backdrop-overlay-color: rgba(0, 0, 0, 0.2);
}